/* line 3, ../sass/main.sass */
.clearFloat, .inner::after {
  display: table;
  content: " ";
  clear: both;
}

/* line 7, ../sass/main.sass */
h3 {
  margin-bottom: 1em;
  font-weight: 700;
  text-align: center;
}

/* line 11, ../sass/main.sass */
.bg-yellow, #buttons1 {
  background: #ebc000;
}

/* line 13, ../sass/main.sass */
.inner {
  padding: 0 0 0 100px;
  margin: 0 0 3em 0;
}

/* line 21, ../sass/main.sass */
#buttons1 button {
  display: block;
  float: left;
  width: 400px;
  height: 80px;
  margin: 0 10px 20px;
  padding: 0;
  font-size: 16px;
  letter-spacing: 0.15em;
  color: #ebc000;
  background: white;
  border: 0px solid #ae5e9b;
  border-radius: 20px;
}
/* line 34, ../sass/main.sass */
#buttons1 button:nth-child(n+9):nth-child(-n+12) {
  position: relative;
}
/* line 36, ../sass/main.sass */
#buttons1 button .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
}
/* line 43, ../sass/main.sass */
#buttons1 button .bg span {
  display: block;
  width: 400px;
  height: 80px;
  line-height: 80px;
  color: white;
  background: #ae5e9b;
  border-radius: 20px;
}

/* line 54, ../sass/main.sass */
#images p {
  display: block;
  position: relative;
  float: left;
  width: 33%;
  overflow: hidden;
}
/* line 61, ../sass/main.sass */
#images p strong {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 540px;
  height: 40px;
  padding-left: 2em;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
}
/* line 72, ../sass/main.sass */
#images p span {
  display: block;
  position: absolute;
  top: 0;
  z-index: 0;
  width: 540px;
  height: 380px;
  -webkit-box-shadow: inset 0 0 50px rgba(50, 30, 0, 0.6), inset 0 0 100px rgba(50, 30, 0, 0.3);
  -moz-box-shadow: inset 0 0 50px rgba(50, 30, 0, 0.6), inset 0 0 100px rgba(50, 30, 0, 0.3);
  box-shadow: inset 0 0 50px rgba(50, 30, 0, 0.6), inset 0 0 100px rgba(50, 30, 0, 0.3);
  background: rgba(255, 155, 0, 0.2);
  opacity: 0;
}
/* line 85, ../sass/main.sass */
#images p:nth-child(2) strong {
  left: -200%;
}
/* line 88, ../sass/main.sass */
#images p:nth-child(3) strong {
  bottom: -40px;
  background: #222222;
}
/* line 91, ../sass/main.sass */
#images p:nth-child(3) img {
  position: relative;
  top: 0;
}

/* line 97, ../sass/main.sass */
.sample3 button {
  border: none !important;
  background: white;
}

/* line 101, ../sass/main.sass */
#buttons2 button {
  position: relative;
}
/* line 104, ../sass/main.sass */
#buttons2 button img:first-child {
  position: absolute;
}
/* line 106, ../sass/main.sass */
#buttons2 button img:nth-child(2) {
  opacity: 0;
}

/* line 110, ../sass/main.sass */
.aside-style {
  position: fixed;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}
/* line 117, ../sass/main.sass */
.aside-style ul {
  position: absolute;
  top: 50px;
  left: 90px;
  margin: 0;
  padding: 0;
}
/* line 123, ../sass/main.sass */
.aside-style li {
  margin: 0 0 20px;
  list-style-type: none;
}
/* line 126, ../sass/main.sass */
.aside-style button {
  display: block;
  position: absolute;
  top: 150px;
  left: 350px;
  width: 52px;
  height: 132px;
  margin: 0;
  padding: 0;
  border: none;
  background: rgba(0, 0, 0, 0.8);
  outline: none;
}
/* line 138, ../sass/main.sass */
.aside-style button:focus {
  border: none;
}
