<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap 配合 JQ 範例</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/web.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/jquery-ui-1.11.3/jquery-ui.min.js"></script>
	<!-- sample-slide -->
	<!-- <script>
		$(function(){
			$('.slideshow').each(function(){
				var $slides = $(this).find('img'), //.slideshow裡面所有的img
				    slideCount = $slides.length, //img 的張數
				    currentIndex = 0;
				    //顯示第一張
			    $slides.eq(currentIndex).fadeIn('slow');
			    setInterval(showNextSlider, 3500);
			    function showNextSlider(){
			    	var nextIndex =(currentIndex+1) %  slideCount;
			    	$slides.eq(currentIndex).fadeOut('fast');
			    	$slides.eq(nextIndex).fadeIn('slow');
			    	currentIndex = nextIndex;
			    }
			});
		});
	</script> -->
	<script>
		$(function(){
			$('slideshow').each(function(){

				var $container = $(this),
				    $slideGroup = $container.find('.slideshow-slides'),
				    $slides = $slideGroup.find('.slide'),
				    $nav = $container.find('.slideshow-nav'),
				    $indicator = $container.find('.slideshow-indicator'),

				    slideCount = $slides.length,
				    indicatorHtml = ' ',
				    currentIndex = 0,
				    duration = 500,
				    easing = 'easeInOutExpo',
				    inerval = 4500,
				    timer;

				    $slides.each(function(i){
				    	$(this).css({ left: 100 * i + '%' });
				    	indicatorHtml += '<a href="#">' + (i+1) + '</a>';
				    });
				    $indicator.html(indicatorHtml);

				    function gotoSlide(index){
				    	$slideGroup.animate({ left: -100 * index + '%' }, duration, easing);
				    	currentIndex = index;
				    	updateNav();
				    }
				    function updateNav(){
				    	var $navPrev = $nav.find('.prev'),
				    	    $navNext = $nav.find('.next');
				    	if( currentIndex === 0 ){
				    		$navPrev.addClass('disabled');
				    	} else {
				    		$navPrev.removeClass('disabled');
				    	}
				    	if( currentIndex === slideCount - 1 ){
				    		$navNext.addClass('disabled');
				    	} else {
				    		$navNext.removeClass('disabled');
				    	}
				    	$indicator.find('a').removeClass('active').eq(currentIndex).addClass('active');
				    }
				    function startTimer(){
				    	timer = setInterval(function(){
				    		var nextIndex = (currentIndex + 1) % slideCount;
				    		gotoSlide(nextIndex);
				    	}, inerval);
				    }
				    function stopTimer(){
				    	clearInterval(timer);
				    }
				    $nav.on('click', 'a', function(event){
				    	event.preventDefault();
				    	if($(this).hasClass('prev')){
				    		gotoSlide(currentIndex - 1);
				    	} else {
				    		gotoSlide(currentIndex + 1);
				    	}
				    });
				    $indicator.on('click', 'a', function(event){
				    	event.preventDefault();
				    	if( !$(this).hasClass('active')){
				    		gotoSlide($(this).index());
				    	}
				    });
				    $container.on({
				    	mouseenter: stopTimer,
				    	mouseleave: startTimer
				    });
				    
			});
		});
	</script>
</head>
<body>
	<div class="container-fluid  bg-yellow">
		<div class="slideshow">
			<div class="slideshow-slides">
				<a href="./" class="slide">
					<img src="images/slide/slide-1.jpg" height="465" width="1600"></a>
				<a href="./" class="slide">
					<img src="images/slide/slide-2.jpg" height="465" width="1600"></a>
				<a href="./" class="slide">
					<img src="images/slide/slide-3.jpg" height="465" width="1600"></a>
				<a href="./" class="slide">
					<img src="images/slide/slide-4.jpg" height="465" width="1600"></a>
			</div>
			<div class="slideshow-nav">
				<a href="#" class="prev">prev</a>
				<a href="#" class="next">next</a>
			</div>	
			<div class="slideshow-indicator">
			</div>
		</div>
	</div>
</body>
</html>